* {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.page {
  height: 100vh;
}

body {
  font-family: 'Dosis', sans-serif;
  margin: 0;
  padding: 6px;
  box-sizing: border-box;
  background-color: black;
  color: green;
  min-height: 100%;
  display: grid;
  grid-template-rows: 82px calc(100vh - 158px) 50px;
  grid-gap: 6px;
  align-content: center;
  --border-color: green;
  --back-color: black;
  --border-radius: 6px;
  --border-width: 2px;
  --padding: 6px;

}

@media (max-width: 1000px){
  body{
    grid-template-rows: 82px 1fr 50px;
  }

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.main {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: 20% 1fr 30%;
  grid-template-rows: 130px 125px calc(100% - 265px);
  grid-template-areas:
    "cases map tables"
    "list map tables"
    "list map chart";
  grid-gap: 5px;
}


.header {
  padding: var(--padding);
  border: solid var(--border-width) var(--border-color);
  border-radius: var(--border-radius);
  color: green;
}

.header__title {
  font-size: 25px;
}

.cases {
  position: relative;
  box-sizing: border-box;
  border: solid var(--border-width) var(--border-color);
  border-radius: var(--border-radius);
  grid-area: cases;
  background-color: black;
  color: green;
  padding: var(--padding);
  padding-top: 45px;
}

.cases__title {
  margin: 0;
}

.cases__all {
  font-size: 36px;
  margin: 0;
  text-align: right;
}

table {
  width: 100%;
  border-radius: var(--border-radius);
  border-collapse: collapse;
}

td {
  border: solid var(--border-width) rgba(0, 128, 0, 0.5);
  padding: var(--padding);
  text-align: center;
}

.pagebox__wrapper--hide{
  display: none;
}

.pagebox__wrapper--map {
  grid-area: map;
}

.pagebox__wrapper--list {
  grid-area: list;
}

.pagebox__wrapper--table {
  grid-area: tables;
}


.pagebox__wrapper--chart {
  grid-area: chart;
}




.pagebox__wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}


.list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 82%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 128, 0, 0.3) black;
}

.list::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}

.list::-webkit-scrollbar-thumb {
  background-color: black;
  border: 1px solid rgba(0, 128, 0, 0.3);
}

.list__item {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  border-bottom: 1px solid rgba(0, 128, 0, 0.5);
  cursor: pointer;
}

.list__item:hover {
  background-color: rgba(0, 128, 0, 0.2);
}

.list__item--active {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  border-bottom: 1px solid rgba(0, 128, 0, 0.5);
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.4);
}

.list__country {
  padding-left: var(--padding);
  margin-right: auto;
}


.list__flag {
  width: 20px;
}


@media (min-width: 1000px) and (max-width: 1100px) {
  .list__country {
    display: none;
  }
}

@media (max-width: 1000px) {
  .pagebox__wrapper--full-screen {
    position: absolute;
    z-index: 5;
    height: calc(100vh - 350px);
    grid-row: 1 / span 4;
    grid-column: 1 / span 4;
  }
}

.pagebox__wrapper--full-screen .btn--full-screen {
  background-image: url(img/small-screen.svg);
  background-size: 30px;
}


.pagebox__main {
  border: solid var(--border-width) var(--border-color);
  border-radius: var(--border-radius);
  height: calc(100% - 35px);
  position: relative;
  border-bottom-left-radius: 0px;
  max-height: calc(100vh - 130px);
}

.pagebox__page {
  padding: var(--padding);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--back-color);
  border-radius: var(--border-radius);
  border-bottom-left-radius: 0px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}


.pagebox__page::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}

.pagebox__page::-webkit-scrollbar-thumb {
  background-color: black;
  border: 1px solid rgba(0, 128, 0, 0.3);
}

.pagebox__marks {
  display: flex;
  background-color: var(--back-color);
}

.pagebox__mark {
  position: relative;
  border: solid var(--border-width) var(--border-color);
  margin-right: 5px;
  padding: var(--padding);
  margin-top: calc(0px - var(--border-width));
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background-color: var(--back-color);
  user-select: none;
  cursor: default;
  font-size: 14px;
}

.pagebox__mark--active {
  border-top: solid var(--border-width) var(--back-color);
}

.btn {
  display: block;
  position: absolute;
  top: var(--padding);
  right: var(--padding);
  z-index: 2;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  outline: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.btn--full-screen {
  background-image: url(img/full-screen.svg);
  background-size: 15px;
}

.btn--search {
  background-image: url(img/search.svg);
  background-size: 25px;
}

.btn:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}


.footer {
  box-sizing: border-box;
  border: solid var(--border-width) var(--border-color);
  border-radius: var(--border-radius);
  color: green;
  display: block;
  height: 50px;
  text-align: center;
  padding-top: 15px;
}

.footer__link {
  display: inline-block;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: green;
  position: relative;
  margin: 0 5px;
}

.footer__link:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.footer__link {
  padding-left: 25px;
  padding-top: 4px;
}

.footer__link--gh::before {
  display: block;
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-image: url('img/github_logo.svg');
  background-size: contain;
}

.footer__link--rs {
  padding-left: 55px;
  margin-right: 30px;
}

.footer__link--rs::before {
  display: block;
  position: absolute;
  content: '';
  width: 50px;
  height: 20px;
  top: -15px;
  left: 0;
  background-image: url('img/rs_school_js.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1000px) {
  .page {
    height: auto;
  }

  .main {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px 500px 270px 400px;
    grid-template-areas:
      "cases cases"
      "map map"
      "tables list"
      "chart list";
    grid-gap: 5px;
  }
}

@media (max-width: 600px) {
  .page {
    height: auto;
  }

  .main {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 130px 500px 500px 270px 400px;
    grid-template-areas:
      "cases"
      "map"
      "list"
      "tables"
      "chart";
    grid-gap: 5px;
  }

  .footer {
    font-size: smaller;
  }

}

.canvas {
  border: 1px solid hsla(120, 100%, 25%, 0.3);
  display: block;
}

.seach-wrap{
  position: relative;
}

.search{
  position: absolute;
  background-color: var(--back-color);
  top: 0;
  left: 0;
  right: 0;
}
.search__input{
  position: absolute;
  top: 6px;
  right: 35px;
  outline: none;
  border: solid var(--border-width) rgba(0, 128, 0, 0.8);
  border-radius: var(--border-radius);
  background-color: var(--back-color);
  color: var(--border-color);
  font-family: 'Dosis', sans-serif;
  width: 80%;
  padding: 3px var(--padding);
  z-index: 2;
}

.search__item--active{

}

.search__input:hover{
  transform: scale(1.05);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.search__input:invalid{
  border-color: rgba(255, 0, 0, 0.5);
  color:rgba(255, 0, 0, 0.5);
}

.search__input--invalid{
  border-color: rgba(255, 0, 0, 0.5);
  color:rgba(255, 0, 0, 0.5);
}



.search__list{
  display: block;
  list-style: none;
  width: 80%;
  position: absolute;
  top: 25px;
  right: 35px;
  margin: 0 auto;
  padding: var(--padding);
  background-color: var(--back-color);
  border: solid 1px rgba(0, 128, 0, 0.5);
  border-radius: var(--border-radius);
  max-height: 95px;
  overflow-y: auto;
}

.search__list::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}

.search__list::-webkit-scrollbar-thumb {
  background-color: black;
  border: 1px solid rgba(0, 128, 0, 0.3);
}
.search__item{
  padding: 4px 0;
}

.search__item--active{
  padding: 4px 0;
  background-color: rgba(0, 128, 0, 0.3);
}

.search__item:hover{
  background-color: rgba(0, 128, 0, 0.3);
}


.search__list--hidden{
  display: none;
}

.map-wrapper{
  width: 100%;
  height: 100%;
}
